// Tamanos para los querys
$medi-celu: 600px;
$medi-tablet: 991px;

// Tamanos del carousel
$carousel-width-desk: 60%;
$carousel-width-tablet: 90%;
$carousel-width-celu: 95%;

// Colores

$color-visited: #9000ff;

// Tamanos fuentes
$h1-font-size-desk: 36px;
$h1-font-size-celu: 30px;
$h1-font-weight: 600;
$h2-font-size-desk: 24px;
$h2-font-size-celu: 20px;
$h2-font-weight: 300;
$p-font-size-desk: 18px;
$p-font-size-celu: 16px;
$p-font-weight: 400;

// Margen Mapa Nosotros
$margen-mapa-celu: 10px;
$margen-mapa-tablet: 20px;
$margen-mapa-desk: 50px;

