@import "utilities/variables";
form {
    margin: 10px 50px ;
}
.cuerpo-formulario {
    display: grid;
    grid-template-columns: 160px 1fr;
    gap: 20px 5px;
    p {
        margin: 0px;
        font-size: 1rem;
    }
}
.boton-enviar {
    margin-top: 10px;
    display: flex;
    justify-content: end;
    input {
        width: 110px;
        height: 35px; 
    }   
}
@media screen and (max-width: $medi-tablet) {
    form {
        margin: 5px 30px ;
    }
    .cuerpo-formulario{
        gap: 10px;        
    }
}
@media screen and (max-width: $medi-celu) {
    form {        
        margin: 5px 10px;
    }
    .cuerpo-formulario{
        grid-template-columns: 1fr;
        gap: 5px;        
    }
}